.upload_wrapper {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
}

.upload_wrapper h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #333;
}

.upload_wrapper p {
  margin: 0.5rem 0;
}
.main_container {
  margin-top: 7rem;
}
