@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --animation-fade-in: fadeIn 0.4s ease-out;
  --keyframes-fadeIn: {
    '0%': {
      opacity: 0;
    }
    '100%': {
      opacity: 1;
    }
  }
}
